<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Note</title>

    <link rel="stylesheet" href="/css/edit.css">
</head>
<body>

<div class="main-container">

    <div class="old-note">
        <h2>Old Note</h2>
        <div class="note-box">
            <h3><%= note.title %></h3>
            <p>
                <%= note.description %>
            </p>
        </div>
    </div>

    <div class="new-note">
        <h2>Update Note</h2>
        <form action="/notenest/<%= note._id %>?_method=PUT" method="POST">
            <input type="text" name="title" placeholder="Enter New Title"  required>
            <textarea name="description" placeholder="Enter New Description" required></textarea>
            <button type="submit">Update Note</button>
        </form>
    </div>
</div>
</body>
</html>